#root > div {
  display: flex;
  height: 100vh;
  background-color: black;
}

.header {
  text-align: center;
  padding-top: 18px;
  font-size: 40px;
  color: white;
}

.left-scene {
  flex: 0 0 60%;
  position: sticky;
  display: flex;
  flex-direction: column;

  .form-search {
    margin: 26px 0px 47px 190px;
    padding: 6px 352px 1px 21px;
    border: none;
    font-size: 1.6em;
    box-shadow: none;
    &:focus {
      box-shadow: none;
    }
  }

  .fa-search {
    margin: 10px 10px 8px 13px;
    padding: 5px;
    font-size: 45px;
    color: white;
  }

  .search {
    background-image: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 50%, rgb(153, 51, 255) 100%);
    margin: 26px 10px 47px 0px;
  }


  .searchBar {
    display: flex;
  }

  .selected-gif {
    text-align: center;
    display: flex;
    flex-grow: 1;
    height: calc(100vh - 232px);
    background-color: black;

    img {
      max-width: 50%;
      max-height: 50%;
      margin: 0px 0px 0px 333px;
    }
  }
}

.selected-gif {
  display: flex;

  a {
    margin: 329px 0px 231px -186px;
    color: white;
    padding: 12px 24px;
    border: 0.5px white solid;
    border-radius: 4px;
    font-weight: bold;
  }

  a:hover{
    text-decoration: none;
    color:white;
    background-image: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 50%, rgb(153, 51, 255) 100%);
    border: none;
  }
}

.right-scene {
  flex: 0 0 40%;
  background-color: black;
  overflow: scroll;

  .gif-list {
    column-count: 2;
    column-gap: 5px;
    padding: 5px;

    img {
      width: 100%;
      margin: 5px;
      cursor: pointer;
    }
  }
}
